<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow AUv3Lab to record from the microphone?</string>
    <key>CFBundleExecutable</key>
    <string>AUv3Lab</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>nl.izmar.AUv3Lab</string>
    <key>CFBundleName</key>
    <string>AUv3Lab</string>
    <key>CFBundleDisplayName</key>
    <string>AUv3Lab</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.0</string>
    <key>CFBundleVersion</key>
    <string>0.9.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSExtension</key>
    <dict>
      <key>NSExtensionPrincipalClass</key>
      <string>AUv3LabFactory</string>
      <key>NSExtensionPointIdentifier</key>
      <string>com.apple.AudioUnit-UI</string>
      <key>NSExtensionAttributes</key>
      <dict>
        <key>AudioComponents</key>
        <array>
          <dict>
            <key>name</key>
            <string>Izmar: AUv3Lab</string>
            <key>description</key>
            <string>AUv3Lab</string>
            <key>factoryFunction</key>
            <string>AUv3LabFactory</string>
            <key>manufacturer</key>
            <string>Izmr</string>
            <key>type</key>
            <string>aumf</string>
            <key>subtype</key>
            <string>Ia3F</string>
            <key>version</key>
            <integer>2304</integer>
            <key>sandboxSafe</key>
            <true/>
            <key>tags</key>
            <array>
              <string>Synth</string>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>Izmar: AUv3Lab</string>
            <key>description</key>
            <string>AUv3Lab</string>
            <key>factoryFunction</key>
            <string>AUv3LabAUFactoryAUv3</string>
            <key>manufacturer</key>
            <string>Izmr</string>
            <key>type</key>
            <string>aumu</string>
            <key>subtype</key>
            <string>Ia3I</string>
            <key>version</key>
            <integer>2304</integer>
            <key>sandboxSafe</key>
            <true/>
            <key>tags</key>
            <array>
              <string>Effects</string>
            </array>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
